body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#container {
    text-align: center;
    background-color: white;
    width: 50vw;
    height: 60vh;
}

img {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 90vw;
        height: 70vh;
    }

    img {
        width: 70%;
    }
}